.i-header {

    color: black;
}

.card-blue {
    background-color: blue;

    i {
        rotate: 90deg;

    }

    p {
        margin-bottom: 0;
    }
}

.img-master {
    width: 150px;
    object-fit: contain;
}

.w-32 {
    width: 32% !important;
}

.main {
    background-color: #f3f3f3;
}

.henry {
    color: #fff;
}

.number {
    color: #FFF;
}

.data {
    color: #fff;
}

.icon {
    color: #FFF;

}

.card-bluex {
    background-color: red;

    i {
        rotate: 90deg;
    }

    p {
        margin-bottom: 0;
    }
}

.card-green {
    background-color: green;

    i {
        rotate: 90deg;
    }

    p {
        margin-bottom: 0;
    }
}

span {
    color: grey;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.name {

    margin-bottom: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.namex {
    margin-bottom: 0;
    color: #4339F2;
}
.w-17{
    width: 19%;
}